Source: jsonpickle
Section: python
Priority: optional
Maintainer: Debian Python Team <team+python@tracker.debian.org>
Uploaders: John Paulett <john@paulett.org>,
           Jan Dittberner <jandd@debian.org>,
Build-Depends: debhelper-compat (= 13),
               dh-sequence-python3,
               dh-sequence-sphinxdoc,
               pybuild-plugin-pyproject,
               python3-all,
               python3-bson <!nocheck>,
               python3-ecdsa <!nocheck>,
               python3-feedparser <!nocheck>,
               python3-gmpy2 <!nocheck>,
               python3-numpy <!nocheck>,
               python3-pandas <!nocheck>,
               python3-pytest <!nocheck>,
               python3-setuptools,
               python3-setuptools-scm,
               python3-sklearn <!nocheck>,
               python3-simplejson <!nocheck>,
               python3-sphinx,
               python3-sqlalchemy <!nocheck>,
               python3-ujson <!nocheck>,
Standards-Version: 4.6.2
Rules-Requires-Root: no
Testsuite: autopkgtest-pkg-pybuild
Vcs-Git: https://salsa.debian.org/python-team/packages/jsonpickle.git
Vcs-Browser: https://salsa.debian.org/python-team/packages/jsonpickle
Homepage: https://github.com/jsonpickle/jsonpickle

Package: python3-jsonpickle
Architecture: all
Depends: ${misc:Depends},
         ${python3:Depends},
         ${shlibs:Depends},
Suggests: python-jsonpickle-doc,
          python3-numpy,
          python3-simplejson,
Description: Serialize any Python object to JSON (Python 3)
 jsonpickle is a Python library for serialization and deserialization of
 complex Python objects to and from JSON. The standard Python libraries for
 encoding Python into JSON, such as the stdlib’s json, simplejson, and
 demjson,  can only handle Python primitives that have a direct JSON
 equivalent (e.g. dicts, lists, strings, ints, etc.). jsonpickle builds on
 top of these libraries and allows more complex data structures to be
 serialized to JSON. jsonpickle is highly configurable and
 extendable–allowing the user to choose the JSON backend  and add additional
 backends.
 .
 This is the Python 3 version of the package.

Package: python-jsonpickle-doc
Architecture: all
Section: doc
Depends: ${misc:Depends},
         ${sphinxdoc:Depends},
Multi-Arch: foreign
Description: Serialize any Python object to JSON (documentation)
 jsonpickle is a Python library for serialization and deserialization of
 complex Python objects to and from JSON. The standard Python libraries for
 encoding Python into JSON, such as the stdlib’s json, simplejson, and
 demjson,  can only handle Python primitives that have a direct JSON
 equivalent (e.g. dicts, lists, strings, ints, etc.). jsonpickle builds on
 top of these libraries and allows more complex data structures to be
 serialized to JSON. jsonpickle is highly configurable and
 extendable–allowing the user to choose the JSON backend  and add additional
 backends.
 .
 This is the documentation package.
